.whiteButton{
    color: $black;
    background: $white;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;

    @include responsive(500px){
        padding: 10px 20px
    }
}