.episodeBanner{

    h1{
        @include mainHeading(left, normal);
        padding-bottom: 5px;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.589);
        margin-bottom: 15px
    }

    .episodeBannerContainer{
        @include flex(space-between, row);
        align-items: flex-start;
        width: 100%;

        @include responsive(1000px){
            flex-direction: column;
        }

        .episodeImageResponsive{
            width: 100%;
            height: auto;
            border-radius: 5px;
            display: none;

            @include responsive(1000px){
                display: block;
                margin-bottom: 15px;
            }
        }

        .episodeBannerContent{
            width: 30%;

            @include responsive(1000px){
                width: 100%;
            }

            h2{
                margin-top: 0;
                margin-bottom: 15px;
                color: rgba(255, 255, 255, 0.856);
                font-style: italic;
            }
            
            .episodeIcons{
                color: $yellow;
                @include flex(space-between, row);
                width: 100%;
                margin-bottom: 15px;

                @include responsive(1000px){
                    width: 50%;
                }

                @include responsive(600px){
                    width: 80%;
                }

                .episodeIcon{
                    @include flex(flex-start, row);

                    p{
                        color: $white;
                        margin-left: 5px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }

            .episodeBannerDescriptionParagraph{
                @include overviewParagraph;
            }
        }

        img{
            width: 65%;
            height: auto;
            border-radius: 5px;

            @include responsive(1000px){
                width: 100%;
                display: none;
            }
        }
    }
}

.episodeCrewAndGuests{

    h2{
        padding-bottom: 5px;
        border-bottom: 1px solid $white;
    }

    .episodeCrew{
        display: grid;
        grid-auto-flow: column;
        column-gap: 25px;

        @include responsive(1200px){
            grid-auto-flow: row;
        }

        .episodeCrewContainer{
            display: grid;
            grid-auto-flow: column;
            column-gap: 10px;
        }
    }
}

.episodeCrewMember{

    img{
        max-height: 400px;
        border-radius: 5px;
        height: auto;
        width: 100%;

        @include responsive(1200px){
            max-height: none;
        }
    }

    .showCastNormal{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.8;
        margin: 0;

        @include responsive(1000px){
            font-size: 13px;
        }
    }

    .showCastThin{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.8;

        @include responsive(1000px){
            font-size: 13px;
        }
    }
}