.genresContainer{
    width: 100%;
}

.genresBanner{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 70vh;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.3) 51.74%, #000000 100%);
    @include flex(center, column);

    @include responsive(700px){
        top: 150px;
    }

    img{
        position: relative;
        width: 100%;
        object-fit: cover;
        height: auto;
        z-index: -20;
        overflow: hidden;
        position: absolute;
        inset: 0;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        filter: blur(2px);
    }

    h1{
        @include mainHeading(center, uppercase);
        margin-top: 50px;
    }
}

.genresListContainer{
    position: relative;
    margin-top: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    @include responsive(1250px){
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    @include responsive(950px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include responsive(700px){
        margin-top: 60vh;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.genre{
    background: $grey;
    padding: 10px 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    @include flex(center, column);

    &:hover{
        background: #575757;

        @include responsive(600px){
            background: $grey;
        }
    }

    p{
        @include overviewParagraph;
        margin-bottom: 0;
    }
}

.genreActual{
    background: #575757;
    padding: 10px 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    @include flex(center, column);

    &:hover{
        background: #575757;
    }

    p{
        @include overviewParagraph;
        margin-bottom: 0;
    }
}

.genreResultsContainer{
    display: grid;
    margin-top: 75px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;

    @include responsive(1000px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include responsive(650px){
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include responsive(550px){
        grid-template-columns: 1fr 1fr;
    }
}

.genreMovie{

    img{
        border-radius: 5px;
        width: 100%;
        height: auto;
    }

    p{
        margin-top: 2px;
        @include thirdHeading(center, none);

        @include responsive(650px){
            font-size: 16px;
        }
    }
}

.genresResultsPagination{
    @include flex(center, row);
    width: 100%;
    position: relative;
    margin-top: 25px;

    .genresResultPaginationContainer{
        @include flex(space-between, row);
        width: 20%;
        background-color: $grey;
        padding: 10px;
        border-radius: 5px;
        height: 100%;
        position: relative;

        @include responsive(850px){
            width: 50%;
        }

        div{
            @include flex(center, row);
            width: 20%;
            height: 100%;
            cursor: pointer;

            a{
                width: 100%;
                height: 100%;
                @include flex(center, row);

                &:hover{
                    color: $yellow;
                }
            }

            .paginationActive{
                color: $yellow;
            }
        }   
    }
}