.seasonBanner{

    .seasonBannerContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.3) 51.74%, #000000 100%);
    
        @include responsive(700px){
            top: 150px;
        }
    
        img{
            position: relative;
            width: 100%;
            height: auto;
            z-index: -20;
            object-fit: cover;
        }
    }
}

.seasonBannerContent{
    position: relative;
    @include flex(flex-start, row);
    align-items: flex-start;

    @include responsive(900px){
        @include flex(center, column);
    }

    .seasonBannerPoster{
        border-radius: 5px;
        width: 100%;
        min-width: 350px;
        max-width: 375px;
        height: auto;
        margin-right: 50px;
        flex-grow: 1;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));

        @include responsive(1250px){
            min-width: auto;
            max-width: auto;
        }

        @include responsive(900px){
            margin-top: 100px;
            width: 30%;
            height: auto;
            margin-right: 0;
        }

        @include responsive(700px){
            width: 40%;
            height: auto;
        }
    }
    
    .seasonDetailsSection{

        h1{
            @include mainHeading(left, none);
            margin: 0;
            line-height: normal;

            @include responsive(900px){
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
        }

        h2{
            @include italicFont;
            margin: 0;
            font-size: 30px;
            height: auto;
            line-height: normal;
            overflow: hidden;

            @include responsive(900px){
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }

            @include responsive(500px){
                font-size: 18px;
            }
        }

        .seasonOverview{
            @include overviewParagraph;
            margin: 0;
            margin-top: 20px;
        }
    }
}

.seasonEpisodes{
    position: relative;

    .seasonEpisodesContainer{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;

        @include responsive(1000px){
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include responsive(750px){
            grid-template-columns: 1fr 1fr;
        }

        @include responsive(500px){
            grid-template-columns: 1fr;
        }
    }
}

.seasonEpisode{

    img{
        width: 100%;
        height: auto;
        border-radius: 5px;
        filter: brightness(75%);
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;

        &:hover{
            filter: brightness(100%);
        }
    }

    p{
        font-style: italic;
        font-weight: 300;
        font-size: 17px;
        line-height: 21px;

        span{
            font-style: normal;
            font-weight: bold;
        }
    }
}

.seasonCastContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;

    @include responsive(1000px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include responsive(750px){
        grid-template-columns: 1fr 1fr;
    }
}

.seasonCastPerson{

    img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .showCastNormal{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.8;
        margin: 0;

        @include responsive(1000px){
            font-size: 13px;
        }
    }

    .showCastThin{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.8;

        @include responsive(1000px){
            font-size: 13px;
        }
    }
}

.gallery{

    h2{
        padding-bottom: 5px;
        border-bottom: 1px solid $white;
    }

    .galleryContainer{
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        column-gap: 50px;

        @include responsive(950px){
            grid-template-columns: 1fr 1fr;
        }

        @include responsive(650px){
            grid-template-columns: 1fr;
            row-gap: 25px;
            column-gap: 0;
        }
    }

    .galleryImages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;

        @include responsive(950px){
            grid-template-columns: 1fr 1fr;
        }

        .showGalleryImage{
            max-height: auto;
        }

        img{
            max-height: auto;
        }
    }
}